/* 底部按钮 */
.btn {
	width: 100%;
	height: 100rpx;
	text-align: center;
	line-height: 100rpx;
	color: #FFFFFF;
	font-size: 34rpx;
	background-color: #1da3ac;
	position: fixed;
	bottom: 0;
	left: 0;

}

.fw600 {
	font-weight: 600;
}

.bottom-btn {
	width: 100%;
	/* padding: 50rpx 0;
	 background-color: #f0f0f0; */
}

.box {
	padding: 0 28rpx;
	background-color: #FFFFFF;
	height: calc(100vh - 80px);
}

.head {
	font-size: 44rpx;
	color: #333333;
	font-weight: bold;
	padding-top: 12rpx;
	padding-bottom: 38rpx;
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 32rpx;
	color: #333333;
	margin-top: 0rpx;
	font-weight: bold;
}

.dis {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.msg {
	margin-bottom: 20rpx;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	width: 100%;
	/* height: 104rpx; */
	align-items: center;
}

.bb {
	border-bottom: 1px solid #e6e6e6;
}

.text {
	margin-bottom: 20rpx;
	display: flex;
	font-size: 28rpx;
	color: #3c3c3c;
}

input {
	/* text-align: right; */
	font-size: 30rpx;
	color: #4d4d4d;
	border-bottom: 1px solid #CCCCCC;
}

.border-bottom {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10rpx;
}

.chooseType {
	margin: 20rpx 0;
	text-align: left;
	font-size: 28rpx;
	color: #b2b2b2;
}

.selected {
	color: #3c3c3c;
	font-size: 28rpx;
}

.textInput {
	/* display: flex;
	justify-content: space-between; */
	/* margin-top: 28rpx; */
	margin-bottom: 20rpx;
}

.text_left {
	font-size: 30rpx;
	color: #262626;
}

.text_right {
	font-size: 30rpx;
	color: #808080;
	padding: 20rpx 0;
}